*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}


/*==Navigation=====================================*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1500px;
    width: 100%;
    margin: auto;
    /* background-color: whitesmoke;*/
}
.menu{
    display: flex;
    position: relative;
  
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: all ease 0.3s;
}
.logo{
    height: 10%;
    width: 10%;
    color: #202020;
}

.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}
.menu li a:hover,
.menu .active {
    color: gold;
    transition: all ease 0.3s;
    
}
  

/*==welcome========================*/
#welcome{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: gray;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(../images/gastroV.mp4);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    padding: 20px;
    display: flex;
    align-items: center;
}
.city{
    position: absolute;
    left:30px;
    top: 10px;
    width: 390px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    filter: invert();
}

.welcome-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 10px;
    position: relative;
}
.welcome-text h1{
    font-size: 4rem;
    line-height: 55px;
    color: white;
}
.welcome-text strong{
    color: gold;
    font-size: 1.4rem;
    margin-top: 4px;
}
/*==category================================*/
#category,
#popular-places,
#stIndustry{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading,
.popular-heading,
.bigIII-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.popular-heading h3,
.bigIII-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span,
.popular-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}
.category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
/*==popular-places========================*/
#popular-places{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 50px auto;
    padding: 60px 0px 20px 0px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 1px solid #f3f3f3;
    align-items: center;

}
.popular-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    margin: 40px 0px;
}
.popular-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.popular-box{
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.popular-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.popular-box .quantity{
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.popular-box .price{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #393939;
}
.popular-box .popular-btn{
    width:100%;
    height: 40px;
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.popular-box .popular-btn i{
    margin-right: 10px;
}
.popular-box .popular-btn:hover{
    background-color: gold;
    color: #ffffff;
    transition: all ease 0.3s;
}
.popular-box .like-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: gold;
    font-size: 1.3rem;
}

.popular-container,
.popular-heading{
    max-width: 1000px;
    width: 100%;
}
/*==footer============================*/
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid gold;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width:120px;
    height: 70px;
    display: flex;
    transition: all ease 0.3s;
    filter: invert();
}
.footer-logo a span{
    color: gold;
}
.footer-MyLogo{
    display: flex;
    margin-top: 10px;
}
.footer-MyLogo img{
    width:50px;
    height: 40px;
    display: flex;
    transition: all ease 0.3s;
    filter: invert();
}
.footer-MyLogo img:hover{
    background-color: gold;
    transition: all ease 0.3s;
}
.footer-links strong{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-links ul{
    margin-top: 10px;
}
.footer-links ul li a{
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}
/*==Making-Responsive===================================*/
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1280px){
    #welcome{
        width:1150px;
    }
}
@media(max-width:1200px){
    #welcome{
        width:90%;
        height: 500px;
    }
    
    #popular-places,
    #map{
        width: 90%;
    }
}
@media(max-width:1050px){
    .city{
        width: 150px;
        height: 150px;
        top: -20px;
    }
    #welcome{
        background-size: 700px;
    }
    #category{
        width: 90%;
    }
}
@media(max-width:965px){
    .navigation{
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .logo{
        font-size: 1.2rem;
    }
    .navigation .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(245,245,245);
    }
    .navigation .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgba(248,247,247,0.5);
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #141414cc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease-out;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #141414cc;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.2s;
    }
    .navigation .menu-icon .nav-icon::before{
        top: 7px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -7px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    } 
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }   

    #welcome{
        height: 400px;
        background-size: 500px;
    }
 
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-box{
        margin: 10px;
    }
    .popular-container{
        grid-template-columns: 1fr 1fr;
    }
    
    #map{
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        margin-top: 0px;
        width: 90%;
        max-width: 100%;
    }
    .mapPhone{
        height: 450px;
        width: 220px;
    }
    .map-text{
        max-width: 100%;
        background-color: #ecf7ee;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-links{
        text-align: center;
    }
}
@media(max-width:750px){
    #welcome{
        height: 300px;
    }
    .welcome-text{
        margin-left: 20px;
    }
    .welcome-text h1{
        font-size: 2rem;
        line-height: 30px;
    }
    .city{
        display: none;
    }
   
}
@media(max-width:500px){
    #welcome{
        height: 200px;
        background-size: 300px;
    }
    .welcome-text{
        margin-left: 0px;
        max-width: 100%;
    }
    .welcome-text h1{
        font-size: 1.3rem;
    }
    .category-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .category-box{
        width: 100%;
        margin: 0px;
    }
    .popular-container{
        grid-template-columns: 1fr;
    
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer-links{
        margin-top: 10px;
    }
}
@media(max-width:400px){
    .category-heading h2,
    .popular-heading h3{
        font-size: 1.2rem;
    }
}
@media(max-width:350px){
    .map-btns{
        flex-direction: column;
    }
    .map-btns a{
        margin: 4px 0px;
        width: 140px;
    }
    .map-btns a img{
        width: 100%;
    }
    .right-nav{
        grid-gap: 5px;
    }
}